body{
	font-family: verdana;
	text-align: center;
	background: linear-gradient(to right, cyan, purple);
}
h1{
	font-family: verdana;
	color:#123456;
	text-transform: uppercase;
}
h2{
	font-family: verdana;
	color:#ffffff;

}